# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Environment files
.env
.env.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Linux builds
/linux/flutter/ephemeral/
/linux/flutter/generated_config/

# Windows builds
/windows/flutter/ephemeral/
/windows/flutter/generated_config/
/windows/x64/

# macOS builds
/macos/Flutter/ephemeral/
/macos/Flutter/generated_config/

# Laravel
/backend

# React
/frontend
